<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>Список созданных блюд</div>
    {{#dishes}}
    <div>
        <b>{{id}}</b>
        <b>{{name}}</b>
        <b>{{composition}}</b>
        <b>{{nutrients}}</b>
        <b>{{author}}</b>
    </div>

    {{/dishes}}

</body>
</html>