<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Список созданных блюд</div>


<p>Пользователь</p>
{{#user}}
    <div>
        <b>{{id}}</b>
        <b>{{username}}</b>
        <b>{{password}}</b>
        <b>{{active}}</b>
    </div>

{{/user}}


<p>Список пользователей</p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{username}}</td>
            <td>{{id}}</td>
            {{#roles}}
                <td>{{.}}</td>
                <td><a href="/user/{{id}}">edit</a></td>
            {{/roles}}


        </tr>
    {{/users}}
    </tbody>
</table>
</body>
</html>